.menu {

  .sticky-category-list {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensures it is above other content */
    background: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }

  .category-content {
    background: #f1f1f1;}
}
